.footer {
  width: 100%;
  height: fit-content;
  background-color: rgb(230, 230, 230);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}
